include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE.txt
include README.md
include RELEASING.md
include SECURITY.md
recursive-include docs *.md
include example_project/README.md
prune tink_fields/test
